@import 'styles/colors.scss';

.vote-bar {
    width: 100%;
    height: 45px;
    margin-top: 27px;
    position: relative;

    &__percentage-counter {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
    }

    &__counter {
        width: 50%;
        z-index: 4;
        display: inline-block;

        &--right {
            text-align: right;
        }
    }

    &__count {
        display: inline-block;
        vertical-align: middle;
        padding-top: 4px;

        &--thumb {
            width: 35px;
            margin: 0 7px;
        }
    
        &--number {
            font-size: 30px;
            margin: 0;
            font-weight: 300;
        }
    }

    
    &__votes {
        height: inherit;
        display: inline-block;
        vertical-align: top;

        &--up {
            background-color: $greenSeaLightTransparent;
        }

        &--down {
            background-color: $yellowTransparent;
            text-align: right;
        }
    }
}