.submit-name {
    width: 100%;
    background-image: url('../../../assets/submit-background.jpg');
    padding: 20px;
    box-sizing: border-box;

    &__section {
        display: inline-block;
        vertical-align: middle;

        &--description {
            font-size: 30px;
            font-weight: 300;
            width: 70%;
            p{
                margin: 0;
            }
        }

        &--button{
            width: 30%;
            text-align: right;
        }
    }
}

@media only screen and (max-width: 900px) {
    .submit-name {
    
        &__section {
            display: block;
    
            &--description {
                font-size: 30px;
                font-weight: 300;
                width: auto;
                margin-bottom: 20px;
                p{
                    margin: 0;
                }
            }
    
            &--button{
                width: auto;
                text-align: center;
            }
        }
    }
    
}