.main-content {
    background-image: url('../../../assets/pope.jpg');
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 740px;
    position: relative;

    &__closing-in {
        width: 100%;
        height: 50px;
        position: absolute;
        bottom: 0;
        display: inline-block;
    }

    &__closing-in-item {
        height: inherit;
        background-color: rgba(105, 105, 105, 0.5);
        display: table;
        padding: 5px 10px;
        box-sizing: border-box;
        color: #464646;
        display: inline-block;
        vertical-align: top;
        
        p {
            margin: 0;
        }
        
        &--left {
            width: 32%;
            padding-top: 15px;
            text-align: right;
            color: white;
            font-size: 13px;
        }

        &--right {
            width: 68%;
            background-color: rgba(255, 255, 255, 0.7);
            flex-grow: 7;
            font-size: 32px;
            font-weight: 300;
        }
    }
}

@media only screen and (max-width: 900px) {
    .main-content {
        background: none;
        height: auto;

        &__closing-in {
            position: relative;
        }
    }
}