@import '../../../../styles/colors.scss';
@import 'styles/mixins.scss';

.main-vote-box {
    height: 450px;
    top: 175px;
    left: 133px;
    width: 500px;
    position: absolute;
    color: white;

    &__description {
        box-sizing: border-box;
        width: 100%;
        height: 370px;
        padding: 28px 33px;
        font-weight: 300;
        background-color: rgba(45, 46, 46, 0.8);
    }

    &__title {
        padding: 0;
        font-size: 60px;
        line-height: 40px;
        margin: 0;
        padding: 0;
        font-weight: 500;

        &--small {
            display: block;
            font-size: 16px;
            font-weight: 300;
        }
    }

    &__vote-description {
        font-size: 21px;
        margin-top: 38px;
    }

    &__wiki-logo {
        background-image: url('../../../../assets/wiki.png');
        display: inline-block;
        width: 17px;
        height: 12px;
        margin-right: 5px;
    }

    &__more-info-link {
        color: white;
        font-size: 14px;
    }

    &__veredict {
        font-size: 20px;
        font-weight: bold;
        margin-top: 35px;
    }

    &__vote-section {
        &__box {
            width: 50%;
            height: 80px;
            display: inline-block;
            background-color: $greenSeaLightTransparent;
            vertical-align: top;
            text-align: center;

            &--down {
                background-color: $yellowTransparent;
            }
        }
    }

    &__vote-button {
        @include unstyled-button;
        margin-top: 15px;
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 900px) {
    .main-vote-box {
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        width: 100%;
        color: white;

        &__photo{
            background-image: url('../../../../assets/pope.jpg');
            background-position: right;
            background-size: cover;
            width: 100%;
            height: 400px;
        }

        &__title {
            font-size: 30px;
        }
        
        &__description {
            height: auto;
        }
    }
}