.main-page {
    width: 100%;
    
    &__container {
        width: 77%;
        margin: auto;
    }
}


@media only screen and (max-width: 900px) {
    .main-page {
        width: 100%;
        
        &__container {
            width: 95%;
            margin: auto;
        }
    }
}