@import 'styles/mixins.scss';

.vote-card {
    height: 550px;
    width: 450px;
    position: relative;
    color: white;
    margin-bottom: 25px;

    &__content {
        padding-top: 120px;
        background-image: linear-gradient(rgba(255,0,0,0), rgb(10, 10, 10));
        position: absolute;
        bottom: 0;
    }

    &__title-zone {
        display: inline-block;
        vertical-align: bottom;

        &--thumb {
            width: 35px;
            margin-bottom: 5px;
        }

        &--celebrity-name {
            margin: 0;
            font-size: 45px;
            font-weight: 400;
            width: 410px;
            line-height: 45px;
        }
    }


    &__buttons-area {
        padding: 0 10px 0 44px;
    }

    &__time-area {
        font-size: 12px;
        margin: 0;
    }

    &__description {
        font-weight: 300;
    }

    &__button {
        @include unstyled-button;
        display: inline-block;
        vertical-align: middle;
        padding: 0;

        &--right {
            margin: 0 15px;
        }
    }
}