@import 'styles/mixins.scss';

.nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: right;
    box-sizing: border-box;
    padding: 30px 125px;
    display: inline-block;
    font-weight: 300;

    &__close {
        display: none;
    }

    &__item {
        list-style-type: none;
        display: inline-block;
        margin: 5px 25px;

        .active {
            text-decoration: underline;
            font-weight: bold;
        }
    }

    &__link {
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

    &__search {
        width: 30px;
        height: 30px;
        background-image: url('../../assets/search-icon.png');
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }
}

@media only screen and (max-width: 900px) {
    .nav-bar {
        text-align: left;
        padding: 0;
        background-color: #4e4e4e;
        background-color: #161616; 
        width: 70%;
        height: 400px;
        padding-top: 30px;
        left: -70%;
        transition: left 1s;

        &--open {
            left: 0;
        }

        &__close {
            @include unstyled-button;
            display: block;
            position: absolute;
            top: 0;
            right: -40px;
            width: 40px;
            height: 40px;
            border: solid 3px #161616;
            background-color: white;
            color: black;
            font-size: 30px;

            img {
                width: 100%;
            }
        }

        &__item {
            display: block;
        }
        
        &__link {
            font-size: 20px;
            display: block;
            padding: 5px;
            width: 100%;
            border-bottom: solid 1px white;

            &:hover {
                background-color: #4b4a4a; 
                font-weight: 400;
            }
        }

        &__search {
            margin: 30px;
        }
    }
}