.Vote-up-down-thumb {
    width: 30px;
    height: 30px;
    background-color: lightseagreen;
    padding: 3px;
    box-sizing: border-box;

    img {
        width: 100%;
    }

    &--down {
        background-color: #ffad1d;
    }

    &--border {
        border: 2px solid white;
    }
}