@import 'styles/mixins.scss';

.footer-nav {
    width: 77%;
    min-height: 60px;
    margin: auto;
    margin-top: 20px;
    padding: 15px 0;
    border-top: dotted 1px rgb(180, 178, 178);
    box-sizing: border-box;

    &__section {
        width: 50%;
        display: inline-block;

        &--link {           
            ul {
                padding-inline-start: 0;
            }
        }
        
        &--social {
            text-align: right;
        }
    }


    &__links {
        display: inline-block;
        font-size: 13px;
        margin-right: 15px;

        a{
            color: #464646;
            text-decoration: none;
        }
    }

    &__social {
        @include unstyled-button;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        font-size: 15px;

        &--button {
            width: 30px;
            height: 30px;

            img {
                width: 25px;
            }
        }
    }
}