.transparent-button {
    display: inline-block;
    vertical-align: middle;
    color: white;
    cursor: pointer;
    width: auto;
    min-width: 100px;
    height: 40px;
    border: solid 2px white;
    background-color: transparent;
    font-size: 14px;

    &--black {
        border: solid 2px black;
        color: black;
    }

    &--big {
        min-width: 200px;
        height: 45px;
        font-size: 18px;
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}