.vote-section {    
    &__title {
        font-size: 40px;
        font-weight: 300;
    }
    
    &__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {    
    .vote-section {
        &__container{
            justify-content: center;
        }
    }
}