.info-section {
    color: #464646;
    margin: 40px auto 5px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ebebeb;

    &__part {
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box;
    }

    &__title {
        font-size: 21px;
        width: 20%;
        
        &--part-two{
            display: block;
            font-size: 37px;
            font-weight: bold;
        }
    }

    &__description {
        width: 75%;
        padding: 0 10px;
    }

    &__close {
        width: 5%;
        img {
            width: 20px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .info-section {
        position: relative;

        &__part {
            display: block;
        }

        &__title {
            font-size: 21px;
            width: auto;
            margin-bottom: 10px;
            
            &--part-two{
                font-size: 21px;
                font-weight: bold;
                display: inline-block;
                margin-left: 10px;
            }
        }

        &__description {
            width: 100%;
            padding: 0 0;
        }

        &__close {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }
}